﻿@model List<ReportViewModel>
@{
    ViewData["Title"] = "Report List";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Full Name</th>
            <th>Shift</th>
            <th>In</th>
            <th>Out</th>
            <th>Task</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Date</td>
                <td>@item.FullName</td>
                <td>@item.Shift</td>
                <td>@item.In</td>
                <td>@item.Out</td>
                <td>@item.Task</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
