﻿@model List<CompanyViewModel>
@{
    ViewData["Title"] = "Company List";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Logo</th>
            <th>Address</th>
            <th>Telp</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CompanyName</td>
                <td>@item.Logo</td>
                <td>@item.Address</td>
                <td>@item.Telp</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
