﻿@model EmployeeViewModel

@{
    ViewData["Title"] = "Employee Details";
}

<h2>Employee Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Full Name</th>
            <td>@Model.FullName</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>No Handphone</th>
            <td>@Model.NoHp</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>@Model.Position</td>
        </tr>
    </tbody>
</table>
