﻿@model EmployeeViewModel
@{
    ViewData["Title"] = "Employee Edit Data";
}

<h2>Form Edit Employee</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Employee Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="FullName">Full Name</label>
        <input asp-for="FullName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="NoHp">No Handphone</label>
        <input asp-for="NoHp" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Position">Position</label>
        <input asp-for="Position" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}