﻿@model List<SetupViewModel>
@{
    ViewData["Title"] = "Setup List";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Company</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Report To 1</th>
            <th>Report To 2</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Company</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.ReportTo1</td>
                <td>@item.ReportTo2</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
