﻿
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form class="form-login">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <button class="button-login">Log In</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>
