﻿@model List<HistoryViewModel>
@{
    ViewData["Title"] = "History List";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>File Name</th>
            <th>Description</th>
            <th>Date Upload</th>
            <th>Date Generate</th>
            <th>Upload By</th>
            <th>Generate By</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FileName</td>
                <td>@item.Description</td>
                <td>@item.DateUpload</td>
                <td>@item.DateGenerate</td>
                <td>@item.UploadBy</td>
                <td>@item.GenerateBy</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
